<footer>
  <div class="container" id="footer">
    <div id="blocFooter" class="row">
      <div class="col-lg-4 col-md-12">
        <div class="logo">
          <img id="logo" class="img-responsive" src="{{asset('bundles/images/logo.jpg') }}">
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div id="contact">
          <div class="coordonnees">
            <i class="fa fa-map-marker"></i>
            <p>21 Revolution Street Paris, France</p>
          </div>
          <div class="coordonnees">
            <i class="fa fa-phone"></i>
            <p>+1 555 123456</p>
          </div>
          <div class="coordonnees">
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="aPropos">
          <h4>A propos du Musée</h4>
          <p>Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit ame.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="copyright">
    <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <p>© 2017 - Techno media</p>
      </div>
    </div>
    </div>
  </div>
  </div>
</footer>
