{% extends "LouvreResaBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<div id="container">
<div id="paiementReussi" class="row">
      <div class="col-lg-offset-1 col-lg-4 blocApropos">
      		<div class="titreBlocaPropos">
				<p>Tarifs</p>
			</div>
		 	<p>
			    - Un tarif « normal » à partir de 12 ans à 16 €</br>
			    - Un tarif « enfant » à partir de 4 ans et jusqu’à 12 ans, à 8 € (l’entrée est gratuite pour les enfants de moins de 4 ans)</br>
			    - Un tarif « senior » à partir de 60 ans pour 12  €</br>
			    - Un tarif « réduit » de 10 € accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)
		 	</p>
		</div>
	 <div class="col-lg-offset-1 col-lg-4 blocApropos">
	 		<div class="titreBlocaPropos">
				<p>Accès</p>
			</div>
		 	<p>
			 	- Les accès par la Pyramide et la galerie du Carrousel : ouvert tous les jours sauf le mardi, de 9h à 19h30 et jusqu'à 22h le mercredi et le vendredi.</br>
				- Passage Richelieu : ouvert tous les jours, sauf le mardi, de 9h à 17h30 et jusqu’à 18h00 le mercredi et le vendredi.</br>
				- Porte des Lions : Cet accès est réservé aux visiteurs en groupe.
			</p>
		</div>

	</div>
</div>
<div class="row">
      <div class="col-lg-offset-1 col-lg-4 blocApropos">
      		<div class="titreBlocaPropos">
				<p>Moyens de paiement</p>
			</div>
		 	<p>
				Seuls les paiements en euros sont acceptés.
				Vous pouvez effectuer votre règlement en espèce, carte bancaire, chèque bancaire ou chèque vacances (ANCV) aux caisses du musée.
				A nos distributeurs automatiques, seules les cartes bancaires sont admises.
			</p>
		</div>
	 <div class="col-lg-offset-1 col-lg-4 blocApropos">
	 		<div class="titreBlocaPropos">
				<p>Accès libre</p>
			</div>
		 	<p>
				Les adhérents du musée du Louvre bénéficient d’un accès prioritaire et illimité aux collections permanentes et, selon la carte, aux expositions du hall Napoléon.
				Découvrir toutes les cartes d’adhésion au musée du Louvre : http://www.louvre.fr/adhesions
			</p>
		</div>

	</div>
</div>
</div>
{% endblock %}