{% extends "LouvreResaBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<div id="paiementReussi">
	<div id="blocTexte">
		<div>
			<h1>Erreur lors de la reservation</h1>
			<p>Le nombre maximum de billet a été atteint pour la journée du : {{ date}}</p>
			<p>Vueillez saisir une autre date</p>
		
	</div>
</div>


{% endblock %}